###########################
# OmniROM oppo common sepolicy
#

allow system_app system_app_data_file:file x_file_perms;
allow system_app shell_data_file:dir search;
allow system_app proc_touchpanel:file rw_file_perms;
allow system_app proc_touchpanel:dir search;

